body {
    background-color:#050505;
    font-family: arial;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

#calculator {
    background-color: #B1B1B1;
    width: 322px;
    height: 500px;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

#calculator .btn {
    margin: 0;
    border-radius: 30px;
    border: none;
    width: 60px;
    height: 60px;
}

#calculator .btn:hover {
    background-color: #BCBCBC;
}
#calculator .btn:active {
    background-color: #909090;
}
header {
    height: 90px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#display {
    color: rgba(0, 0, 0, 0.8);
    text-align: right;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 60px;
    font-weight: 500;
}
.btn-number {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.btn-others {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}